<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Snoopy</title>
<meta name="author" content="Squadlogic" />

<!-- Favicon -->
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="icon" href="../img/favicon.ico" type="image/x-icon">

<!-- vector map CSS -->
<link
	href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css"
	rel="stylesheet" type="text/css" />

<link
	href="bower_components/jquery-toast-plugin/dist/jquery.toast.min.css"
	rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->

	<div id="loader" style="display: none;">
		<div class="spinner"></div>
	</div>

	<div class="wrapper  pa-0">
		<header class="sp-header">
			<div class="sp-logo-wrap pull-left">
				<a href="dashboard.htm"> <img class="brand-img mr-10"
					src="../img/logo.png" alt="brand" /> <span class="brand-text">Snoopy</span>
				</a>
			</div>
			<div class="form-group mb-0 pull-right">
				<span class="inline-block pr-10">Don't have an account?</span> <a
					class="inline-block btn btn-warning  btn-rounded btn-outline"
					href="signup.htm">Sign Up</a>
			</div>
			<div class="clearfix"></div>
		</header>

		<!-- Main Content -->
		<div class="page-wrapper pa-0 ma-0 auth-page">
			<div class="container-fluid">
				<!-- Row -->
				<div class="table-struct full-width full-height">
					<div class="table-cell vertical-align-middle auth-form-wrap">
						<div class="auth-form  ml-auto mr-auto no-float">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="mb-30">
										<h3 class="text-center txt-dark mb-10">Sign in to Snoopy</h3>
										<h6 class="text-center nonecase-font txt-grey">Enter your
											details below</h6>
									</div>
									<div class="form-wrap">
										<form id="SignInForm" action="javascript:void(0);">
											<div class="form-group">
												<label class="control-label mb-10" for="exampleInputEmail">Username</label>
												<input type="text" class="form-control validation-pending"
													required="" id="exampleInputEmail"
													placeholder="Enter Username"
													onkeypress="return clsAlphaNoSplOnly(event);"> <span
													class="validation-error-text">Enter valid Username</span>
											</div>
											<div class="form-group">
												<label class="pull-left control-label mb-10"
													for="exampleInputpwd">Password</label> <a
													class="capitalize-font txt-orange block mb-10 pull-right font-12"
													href="forgotpassword.htm">forgot password ?</a>
												<div class="clearfix"></div>
												<input type="password"
													class="form-control validation-pending" required=""
													id="exampleInputpwd" placeholder="Enter Password">
												<i
													class="fa fa-fw fa-eye-slash fa-lg pr-5 pull-right pass_eye "></i>
												<span class="validation-error-text">Enter valid
													Password</span>
											</div>

											<!-- <div class="form-group">
												<div class="checkbox checkbox-primary pr-10 pull-left">
													<input id="checkbox_2" required="" type="checkbox">
													<label for="checkbox_2"> Keep me logged in</label>
												</div>
												<div class="clearfix"></div>
											</div> -->
											<div class="form-group text-center">
												<button type="submit" id="signInbtn"
													class="btn btn-warning btn-rounded" onclick="SignIn()">Sign
													In</button>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

			<div th:replace="~{footer :: footer}"></div>

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->
	<div th:replace="~{scripts :: scripts}"></div>
	<script src="js/login.js"></script>

</body>
</html>
