<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Snoopy</title>
<meta name="author" content="Squadlogic" />

<!-- Favicon -->
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="icon" href="../img/favicon.ico" type="image/x-icon">

<!-- vector map CSS -->
<link
	href="/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css"
	rel="stylesheet" type="text/css" />

<link
	href="/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css"
	rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
	
	<div id="loader" style="display: none;">
		<div class="spinner"></div>
	</div>

	<div class="wrapper  pa-0">

		<!-- Main Content -->
		<div class="page-wrapper pa-0 ma-0 auth-page">
			<div class="container-fluid">
				<!-- Row -->
				<div class="table-struct full-width full-height">
					<div class="table-cell vertical-align-middle auth-form-wrap">
						<div class="auth-form  ml-auto mr-auto no-float">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="sp-logo-wrap text-center pa-0 mb-30">
										<a href="index.html"> <img class="brand-img mr-10"
											src="../img/logo.png" alt="brand" /> <span
											class="brand-text">Snoopy</span>
										</a>
									</div>
									<div class="mb-30">
										<h3 class="text-center txt-dark mb-10">Reset Password</h3>
									</div>
									<div class="form-wrap">
										<form id="resetPassForm" action="javascript:void(0);">
										<input type="hidden" id="token" th:value="${token}">
											<!-- <div class="form-group">
												<label class="pull-left control-label mb-10"
													for="exampleInputpwd_1">Old Password</label> <input
													type="password" class="form-control" required=""
													id="exampleInputpwd_1" placeholder="Enter pwd">
											</div> -->
											<div class="form-group">
												<label class="pull-left control-label mb-10" for="InputPass">New
													Password</label> <input type="password"
													class="form-control validation-pending" required=""
													id="InputPass" placeholder="Enter password"><i
													class="fa fa-fw fa-eye-slash pr-5 pull-right pass_eye"></i>
												<span class="validation-error-text">Enter valid
													Password</span>
											</div>
											<div class="form-group">
												<label class="pull-left control-label mb-10"
													for="InputConfirmPass">Confirm Password</label> <input
													type="password" class="form-control validation-pending"
													required="" id="InputConfirmPass"
													placeholder="Enter confirm password"> <i
													class="fa fa-fw fa-eye-slash pr-5 pull-right con_pass_eye"></i>

												<span class="validation-error-text">Enter valid
													Password</span>
											</div>
											<div class="form-group text-center">
												<button type="submit" id="updatePass"
													class="btn btn-warning btn-rounded" onclick="updatePassword()" disabled>Update</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->

	<!-- JavaScript -->
	<div th:replace="~{scripts :: scripts}"></div>
	<script src="js/resetpassword.js"></script>

</body>
</html>
